<span class="">PLN na</span>
<mat-form-field class="currency">
    <input type="text"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption
                      #auto="matAutocomplete"
                      (optionSelected)="selectOption($event)"
                      [displayWith]="getOptionText">
        <mat-option *ngFor="let option of filteredOptions | async"
                    [value]="option">
            {{option.currency}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
